.bk-img {
  background-image: url("../assets/images/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 280px;
}

.overlay-box {
  width: 500px;
  margin: 8px 8px 50px 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: #0d2e4f;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid black;
}

.overlay-header {
  padding-top: 14px;
  margin-bottom: 0;
  font-size: 37px;
  font-weight: bolder;
  text-align: center;
}

.overlay-sub-header {
  font-size: 16px;
  padding: 14px;
}

.service-title {
  padding: 10px 0 10px 0;
  font-size: 35px;
  color: white;
  background-color: #0d2e4f;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.contact-btn {
  margin-left: 15px;
  background-color: #0d2e4f;
}

.card-body {
  padding: 15px 0 5px 0;
  text-align: center;
}

logo-container {
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 992px) and (min-width: 598px) {
  .overlay-box {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 598px) and (min-width: 340px) {
  .overlay-box {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .overlay-box {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .overlay-header {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .overlay-sub-header {
    font-size: 14px;
    text-align: center;
  }
}
