.bk-img {
  background-image: url("../assets/images/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay-box {
  width: 500px;
  margin: 8px 8px 50px 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: #0D2E4F;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    border:1px solid black;
}

.overlay-header {
  padding-top: 14px;
  margin-bottom: 0;
  font-size: 37px;
  font-weight: bolder;
  text-align: center;
}

.overlay-sub-header {
  font-size: 16px;
  padding: 14px;
}

.service-title {
  padding: 10px 0 10px 0;
  font-size: 35px;
  color: white;
  background-color: #0D2E4F;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  
}

.contact-btn {
  margin-left: 15px;
  background-color: #0D2E4F;
}

.card-body {
  padding: 15px 0 5px 0;
  text-align: center;
}

footer {
  background-color: #0D2E4F;
  color:white ;
  border-top: 1px solid black;
}


.footer-title {
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  font-style: italic;
}

.footer-phone {
  font-size: 25px;
  font-weight:600;
  text-align: center;
  font-style: italic;
  margin-top: -20px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.footer-copy {
  display: flex;
  justify-content: center;
  height: 25px;
  margin: 0px;
}
@media only screen and (max-width: 767px) {
  .footer-nav {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .footer-phone {
    
    margin-top: -25px;
  }
  .full-logo{
    margin-top: -15px;
  }
}
@media only screen and (max-width: 576px) {
  .overlay-box {
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .overlay-header {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .overlay-sub-header {
    font-size: 14px;
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .footer-title {
    font-size: 26px;
  }

.full-logo{
margin-top: 2px;
}
  .footer-nav {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .footer-copy {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
}
@media only screen and (max-width:465px){
  .espanol{
    font-size: 20px;
  }
}
@media only screen and (max-width:387px){
  .espanol{
    font-size: 15px;
  }
  .number{
    font-size: 15px;
    
  }
}