.hours-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.date-hours-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  
}
.acc {
  display:flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .hours-container {
    flex-direction: column;
  }
  
  .date-hours-container {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .time-container {
    width: 65vw !important;
    height: 200px;
  }
}
@media screen and (max-width: 354px) {
.acc{
  font-size: 13px;
}
}
