.slogan{
  display: flex;
  color: white;
  font-style: italic;
  margin-top: 50px;
  justify-content: center !important;
}
Nav{
  border-bottom: 1px solid black;
}
.heading-style {
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  z-index: 4;
}

.toggle-style {
  z-index: 5;
}

.logo{
  max-height: 85px;
}


