/* .nav-stars-style {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -50px;
  z-index: 3;
} */


.heading-style {
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  z-index: 4;
}

.toggle-style {
  z-index: 5;
}
