.slogan {
  font-style: italic;
  font-weight: bold;
  margin-left: -10px;
}
.slogan-size{
  color:white;
}
Nav {
  border-bottom: 1px solid black;
  color: white;
}

.heading-style {
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  z-index: 4;
}

.toggle-style {
  z-index: 5;
}

.navlink {
  font-size: 18px;
  color: white;
}

.logo {
  max-height: 60px;
  margin-bottom: 0;
}

.navs {
  max-height: 80px;
}
#navbar{
  background-color: #0D2E4F;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  /* border: 2px solid white; */
}
@media screen and (max-width: 991px) {
  .logo {
    margin-top: -18px;
  }
  .slogan {
    margin-left: -32% !important;
  }
}
@media screen and (max-width: 805px) {

  .slogan {
    margin-left: -20% !important;
  }
}
@media screen and (max-width: 697px) {
  .slogan {
    margin-left: -12% !important;
  }
}
@media screen and (max-width: 627px) {
  .slogan {
    margin-left: -0% !important;
  }
}
@media screen and (max-width: 588px) {
  .slogan {
    margin-left: -30% !important;
  }
  .slogan-size{
    display: none;
  }
  .logo{
    margin-top:-3px;
  }
}
@media screen and (max-width: 556px) {
  .slogan {
    margin-left: -20% !important;
  }
}
@media screen and (max-width: 486px) {
  .slogan {
    margin-left: -10% !important;
  }
}
/* @media screen and (max-width: 434px) {
  .slogan {
    margin-left: -1%!important;
  }
} */
@media screen and (max-width: 423px) {
  .slogan {
    font-weight: 200;
  }
}
@media screen and (max-width: 388px) {
  .slogan {
    margin-left: -2%!important;
  }
}