.slogan{


  font-style: italic;
  font-size: 35px;
  justify-content: end !important;
 
  
}

.heading-style {
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  z-index: 4;
}

.toggle-style {
  z-index: 5;
}

.logo{
  max-height: 85px;
}


