.custom-nav {  
  min-width: 280px;
  padding: 0;
  background-color: #0d2e4f !important;
  color: white !important;
  z-index: 6;
}

/* Nav links / hamburger menu */
.navLink {
  margin-left: 15px;
  font-size: 18px;
  color: white !important;
}

/* hamburger menu */
.hamburger {
  text-decoration: none;
  background-color: #335270 !important;
}

/* .container {
  display: flex;
  flex-direction: columnn !important;
} */

/* brand name & slogan */
.brand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.logo {
  height: 60px;
  width: 60px;
}

.brand-name {
  color: white;
  font-size: 30px;
}

.slogan {
  color: white;
  font-weight: bold;
  font-style: italic;
}

/* MEDIA QUERIES */
@media screen and (max-width: 598px) {
  .slogan {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .navbar {
    padding-left: 0px !important;
  }

  .logo {
    height: 40px;
    width: 40px;
  }
  
  .brand-name {
    margin: 0px;
    font-size: 20px;
  }
  
  .slogan {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .navbar {
    flex-wrap: nowrap !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 280px) {
  .logo {
    display: none;
  }
}
