

.slogan{
  font-style: italic;
  font-weight: bold;
  margin-left: -10px;
}
Nav{
  border-bottom: 1px solid black;
  color: white;
}
.heading-style {
  display: inline-block;
  font-family: Georgia, "Times New Roman", serif;
  z-index: 4;
}

.toggle-style {
  z-index: 5;
}
.navlink{
  font-size: 18px ;
  color: white;
  
}
.logo{
  max-height: 50px;
  margin-bottom:0;
  
}

.navs{
  max-height: 60px;
}
@media screen and (max-width:991px) {
  .logo{
    margin-top: -20px;
  }
  
}
@media screen and (max-width:391px) {
  .slogan{
    font-weight: 100;
  }
}