.bk-img {
  background-image: url("../assets/images/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 75px;
  background-color: #335270;
  color: white;
  font-size: 20px;
  border: 10px solid #0d2e4f;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.company-logos {
  width: 15rem;
  margin: 75px 0px 75px 0px;
  border-radius: 50%;
}

.oval-text {
  padding: 10px 0px 10px 0px;
  text-align: center;
}

@media only screen and (max-width: 775px) {
  .company-logos {
    width: 15rem;
    margin: 40px 0px 40px 0px;
    border-radius: 50%;
  }

  .head {
    width: 400px;
    height: 200px;
  }

  .oval-text {
    font-size: 36px;
    padding: 0px 0px 8px 0px;
  }

  .oval-subtext {
    font-size: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .head {
    width: 330px;
    height: 150px;
  }

  .oval-text {
    font-size: 28px;
    padding: 0px 0px 0px 0px;
  }

  .oval-subtext {
    font-size: 16px;
  }
}

@media only screen and (max-width: 325px) {
  .head {
    width: 250px;
    height: 120px;
  }

  .oval-text {
    font-size: 20px;
    padding: 0px 8px 0px 8px;
  }

  .oval-subtext {
    font-size: 12px;
    padding: 0px 1px 0px 1px;
  }
}
