.head {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
  /* text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white; */
  background-color: #335270;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 10px solid #0d2e4f;
  margin-bottom: 100px;
}

.oval-text {
  padding: 8px;
  margin-top: 10px;
}
.company {
  margin-top: 50px;
  width: 15rem;

  margin-bottom: 50px;
  border-radius: 50%;
}
.bk-img {
  background-image: url("../assets/images/office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1370px) {
  .company {
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 598px){
  .shop-links{
    margin-top: 90px
  }
    .head{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .oval-text{
    font-size: 2rem;
  }
  .oval-subtext{
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 643px) {
  .head{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .oval-text{
    font-size: 2rem;
  }
  .oval-subtext{
    font-size: 1.5rem;
  }
  .bk-img{
    height:100%
  }
}
@media screen and (max-width: 575px) {
  .company {
    margin-left: 25%;
    margin-bottom:20px;
  }
}

@media screen and (max-width: 480px) {
  .company {
    margin-left: 18%;
  }
  .oval-subtext{
    font-size: 1rem;
  }
}
@media screen and (max-width: 493px) {
  .oval-text {
    font-size: 25px
  }
}
@media screen and (max-width: 450px) {
  .company {
    margin-left: 20%;
  }
}
@media screen and (max-width: 397px) {
  .company {
    margin-left: 16%;
  }
}
@media screen and (max-width: 325px) {
  .company {
    margin-left: 10%;
  }
}
@media screen and (max-width: 311px) {
  .company {
    margin-left: 7%;
  }
}